<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Event registration template</title>
    </head>
    <body>

        <header th:fragment="header">
            <h1 th:if="${username!=null}" th:utext="|Welcome ${username}|"></h1>
            <ul>
                <li><a th:href="@{/events}">All events and my registrations</a></li>
                <li th:unless="${username!=null}" ><a th:href="@{/create-account}">Create an account</a></li>
                <li th:unless="${username!=null}" ><a th:href="@{/sign-in}">Sign in with existing account</a></li>
                <li th:if="${username!=null}" ><a th:href="@{/sign-out}">Sign out</a></li>
<!--                <li><a th:href="@{/items}">Items</a></li>
                <li><a th:href="@{/cart}">Cart</a></li>
                <li><a th:href="@{/orders}">Orders</a></li>-->
            </ul>
        </header>

    </body>
</html>
