<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Events</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h2>Here are the events you're invited to join</h2>

        <ul>
            <li th:each="event : ${events}">
                <span th:text="${event.when}">event</span>: 
                <span th:text="${event.name}">event</span>, 
                <span th:text="${event.location}">location</span>, 
                <span th:if="${reg_events!=null and #lists.contains(reg_events,event.id)}" style="color: white; background-color: darkmagenta">[registered]</span>
                <form th:unless="${reg_events!=null and #lists.contains(reg_events,event.id)}" th:action="@{/events/register/{id}(id=${event.id})}" th:method="POST">
                    <input type="submit" value="Join this event"/>
                </form><br/>
                <form th:if="${reg_events!=null and #lists.contains(reg_events,event.id)}" th:action="@{/events/register/{id}(id=${event.id})}" th:method="DELETE">
                    <input type="submit" value="Cancel registration"/>
                </form><br/>


            </li>
        </ul>
        <div th:if="${username!=null}" >
            <h2>Your Comments about the events, to share with other users</h2>
            <span >Your comments:</span>
            <span th:utext="${my_comments!=null}? ${my_comments}" ></span>
            <br/>
            <form th:action="@{/account/comments}" th:method="POST">
                <textarea id="comments" name="comments" placeholder="Enter your new comments here"/>
                <input type="submit" value="Submit my comments"/>
            </form><br/>
        </div>
        <div th:if="${other_comments!=null and not #lists.isEmpty(other_comments)}">
            <h2>What the others are thinking</h2>
            <ul>
                <li th:each="comment : ${other_comments}">
                    <span th:utext="|${comment.username} said|">name</span>: 
                    <span th:utext="${comment.comments!=null}? ${comment.comments} : 'Nothing yet'">xx</span>
                </li>
            </ul>
        </div>
    </body>
</html>
