<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create your new account form</title>
    </head>
    <body>

        <h1 style="color: white; background-color: darkblue">To Create your account, enter your details below</h1>

        <form action="#" th:action="@{/create-account}" method="POST">
            <p><label for="username">User name</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>
